{% extends 'index.html' %}
{% load static %}
<!Doctype html>
<html>
    <head></head>
    <body>
        {% block content %}        

        <div class="page-section pt-5">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <nav aria-label="Breadcrumb">
                    <ol class="breadcrumb bg-transparent py-0 mb-5">
                    </ol>
                  </nav>
                </div>
              </div> <!-- .row -->
        
              <div class="row">
                <div class="col-lg-8">
                  <article class="blog-details">
                    <div class="post-thumb">
                      <img src="/en/media/{{BASE_DIR}}/{{homeinfo.image}}" alt="">
                    </div>
                    <div class="post-meta">
                      <div class="post-author">
                      </div>
                      <div class="post-date">
                        <a href="#">{{homeinfo.title}}</a>
                      </div>
                    </div>
                    <h2 class="post-title h1">{{homeinfo.title}}</h2>
                    <div class="post-content">
                      <p>{{homeinfo.description}}.</p>
                    </div>
              
        
        </article>
        </div>
        </div>
        </div>
        </div>
        {% endblock %}
    </body>
</html>


